* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

a {
  text-decoration: none;
}

body {
  background-color: #c8e6f1;
  height: 100%;
}

.container {
  .square {
    margin-inline: auto;
    margin-top: 12rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: 20rem;
    text-align: center;

    .qr {
      width: 20rem;
      height: 20rem;
      border-radius: 1rem;
    }

    h2 {
      width: 20rem;
      font-size: 1.4rem;
    }

    p {
      width: 20rem;
      margin-top: 1rem;
      font-weight: 500;
    }
  }
}
